<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>&copy; <%= Time.current.year %> TechCoop Cloud</span>
    </div>
  </div>
</footer>
